.about-us {
    font-family: Arial, sans-serif;
  }
  
  .header-about {
    background: url('../assets/about.jpeg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
height: 27rem;  }
  
  .header-about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 27rem;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
  }

  .header-content h1 {
    margin: 0;
    font-size: 4em;

  }

  .header-content{
    top: 40%;
  position: relative;
  }
  
  
  .section {
    margin-top: 2rem;
    padding: 40px 20px;
    text-align: center;
  }
  
  .section-content{
    display: inline-block;
    vertical-align: top;
    width: 80%;

  }

  .caption{
    font-size: 22px;
    font-family: cursive;
  }
  .mission {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #f7f7f7;
    border-radius: 8px;
  }
  
  .mission-content {
    width: 45%;
  }
  
  .mission-content h2 {
    color: #95c0d3;
    margin-bottom: 20px;
  }
  
  .mission-content p {
    margin-bottom: 20px;
    font-size: 0.8em;
    line-height: 1.5;
  }
  
  .mission-content button {
    background-color: #4290c0;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
    border-radius: 5px;
  }
  
  .mission-content button:hover {
    background-color: #95c0d3;
  }
  
  .testimonial {
    width: 45%;
    text-align: right;
  }
  
  .quote {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0;
    font-style: italic;
  }
  
  .quote footer {
    margin-top: 10px;
    font-size: 0.9em;
    color: #555;
  }
  
  .testimonial ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    font-size: 0.9em;
  }
  
  .testimonial li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
  }
  
  .testimonial li::before {
    content: '•';
    position: absolute;
    left: 0;
    color: #95c0d3;
  }

  .join-icon{
    font-size: 20px;
  }
  .join-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    padding: 13px 20px
  }
  .values .value-cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .values{
    margin: 3rem 2rem
  }
  .card {
    width: 30%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .value-cards, .card {
    display: inline-block;
    vertical-align: top;
  }

  .value-cards{
    gap: 25px
  }

  .values h1{
    text-align: center;
    color: #95c4dd ;
    font-size: xx-large;
  }
  .card h3{
    color: #4290c0;
  }
  .card p{
    font-size: 14px;
  }